#speciality {
  @include sectionBg(map-get($sections, speciality));
  margin-top: calc(100vh);

  h2 {
    margin: 0 70px 70px 70px;
    font-size: 3vmax;
    text-align: center;
    color: #fff;

    a {
      padding: 0 .25em;
      color: #fff;
      text-decoration: none;
      border-bottom: 2px solid rgba(#fff, .25);
      
      &:hover {
        color: map-get($sections, speciality);
        background-color: #fff;
        border-radius: 4px;
        border-bottom-color: rgba(#fff, .75);
      }
    }
  }
}
