#speciality {
  $bgColor: map-get($sections, speciality);
  $textColor: #fff;
//  $textColor: #fff;
  @include sectionBg($bgColor);
  margin-top: 100vh;

  h2 {
    position: relative;
    top: 0;
    margin: 0 70px 70px 70px;
    font-size: 18px;
    font-size: 2.5vmax;
    text-align: center;
    color: $textColor;

    a {
      padding: 0 .25em;
      color: inherit;
      text-decoration: none;
      border-bottom: 2px solid rgba($textColor, .25);
      
      &:hover {
        color: map-get($sections, speciality);
        background-color: $textColor;
        border-radius: 4px;
        border-bottom-color: rgba($textColor, .75);
      }
    }
  }
}
