.footer {
  position: fixed;
  bottom: 0;
  font-family: $fontFamilySec;
  font-weight: 100;
  font-style: italic;
  font-size: 11px;
  text-align: center;
  background: linear-gradient(rgba(#000, .15), rgba(#000, 0.1) 10%);
  width: 100%;
  transform: translateZ(0);

  &__copy {
    float: left;
  }
  &__producer {
    float: right;
  }
}