.nav {
  position: fixed;
  top: calc(50vh - 100px);
  margin: 0;
  margin-left: 70px;
  padding: 0;
  width: 30%;

  &__ul {
    margin: 0;
    padding: 0;
    padding-left: 18px;
  }

  &__item {
    margin: 1em 0;
    padding: 0;
    list-style: none;

    &:before {
      position: absolute;
      left: 0;
      margin-top: 4px;
      width: 9px;
      height: 9px;
      border: 2px solid rgba(#fff, .5);
      border-radius: 9px;
      content: "";
    }

    &_active {
      font-weight: bold;

      &:before {
        background-color: rgba(#fff, 1);
      }
    }
  }
}
