.nav {
  position: fixed;
  top: calc(50vh - 100px);
  right: 0px;
  margin: 0;
  margin-left: 50px;
  padding: 0;
  font-family: $fontFamilySec;
  width: 20px;
  transform: translateZ(0);
  z-index: 1;

  &__ul {
    margin: 0;
    padding: 0;
    padding-left: 18px;
  }

  &__item {
    margin: 1em 0;
    padding: 0;
    list-style: none;

    a {
      color: rgba(#000, .85);
      text-decoration: none;
      white-space: nowrap;
      visibility: hidden;
      overflow: hidden;
    }

    &:before {
      position: absolute;
      left: -20px;
      margin-top: 5px;
      width: 12px;
      height: 12px;
      background-color: rgba(#fff, 0);
      border: 2px solid rgba(#fff, .65);
      border-radius: 50%;
      box-sizing: border-box;
      content: "";
      opacity: 1;
      transition: all .5s;
    }

    &.active {
      font-weight: bold;

      &:before {
        background-color: rgba(#fff, .85);
        border-color: rgba(#fff, 0);
      }
    }
  }
}
