$nav-color: rgba($textColorMain, .65);

.nav {

  &__menu {
    position: fixed;
    top: 0;
    left: 0;
    margin: 0;
    padding: 0;
    font-family: $fontFamilySec;
    background: rgba(#000, .5);
    opacity: 0;
    width: 100%;
    height: 100%;
    z-index: 99999;
    transform: translate3d(0, -100vh, 0);
    transition: transform .5s cubic-bezier(0.770, 0.000, 0.175, 1.000),
                 opacity .5s cubic-bezier(0.770, 0.000, 0.175, 1.000);
  }

  &_open &__menu {
    opacity: 1;
    transform: translate3d(0, 0, 0);
  }

  &__ul {
    margin: 0;
    padding: 0;
  }

  &__item {
    $height: (100vh / length($sections));
    margin: 0;
    padding: 0;
    text-align: center;
    font-size: 5vmax;
    line-height: $height;
    height: $height;
    cursor: pointer;

    @each $name, $color in $sections {
      &_#{$name} {
        background: sectionGradient($color, .9);

        & > a {
          $linkColor: lighten($color, 25%);
          color: $linkColor;
          text-shadow: 0 -1px 0 rgba(#000, .25);
        }

        &:hover {
          background: sectionGradient($color), rgba($textColorMain, .5);
          background-blend-mode: multiply;
        }
      }
    }
  }

  &__link {
    text-decoration: none;
    white-space: nowrap;
  }

  &__hamburger {
    position: fixed;
    top: 30px;
    right: 20px;
    text-indent: 99999px;
    white-space: nowrap;
    border: none;
    background: linear-gradient(rgba($nav-color,0) 44%, $nav-color 44%, $nav-color 56%, rgba($nav-color,0) 56%);
    width: 30px;
    height: 30px;
    cursor: pointer;
    outline: none !important;
    appearance: none;
    z-index: 100000;

    &:before,
    &:after {
      position: absolute;
      top: 43%;
      left: 0;
      width: 100%;
      height: 4px;
      background-color: $nav-color;
      transform: none;
      transition: transform .25s ease-in-out;
      content: "";
    }

    &:before {
      margin-top: -10px;
    }

    &:after {
      margin-top: 10px;
    }

    &:hover:before {
      margin-top: -12px;
    }

    &:hover:after {
      margin-top: 12px;
    }
  }

  &_open &__hamburger {
    background: none;

    &:before {
      margin-top: 0;
      transform: rotate(45deg);

    }
    &:after {
      margin-top: 0;
      transform: rotate(-45deg);
    }
  }

  //  Pages indicators
  &__pages {
    position: fixed;
    right: 20px;
    top: calc(50% - 60px);
    margin: 0;
    padding: 0;
    z-index: 100;
  }
    &__page {
      display: block;
      margin: 0;
      padding: 0;
      height: 40px;
      list-style: none;

      &:before {
        position: absolute;
        left: -20px;
        margin-top: 5px;
        width: 12px;
        height: 12px;
        background-color: rgba($nav-color, 0);
        border: 2px solid rgba($nav-color, .5);
        border-radius: 50%;
        box-sizing: border-box;
        content: "";
        opacity: 1;
        transition: all .5s;
      }

      &.active {
        &:before {
          background-color: rgba($nav-color, .65);
          border-color: rgba($nav-color, 0);
        }
      }
    }
}
