$nav-color: #000;

.nav {

  &__menu {
    position: fixed;
    top: 0;
    left: 0;
    margin: 0;
    padding: 0;
    font-family: $fontFamilySec;
    width: 100%;
    height: 100%;
    transform: translate3d(100%, 40vh, 0);
//    transition: transform .75s cubic-bezier(0.770, 0.000, 0.175, 1.000);
//
    clip-path: circle(0px at 100% 0%);
    transition: -webkit-clip-path .75s 1ms cubic-bezier(0.770, 0.000, 0.175, 1.000),
                transform 0s 1s,
                background .25s .45s;
    z-index: 99999;

  }

  &_open &__menu {
    background: rgba(#000, .5);
    transform: translate3d(0, 0, 0);
    clip-path: circle(150vmax at 100% 0%);
    transition: -webkit-clip-path .75s 1ms cubic-bezier(0.770, 0.000, 0.175, 1.000),
                    transform 0s 0s;

    .nav__item {
      &:hover {
        background-color: rgba(#000, .5);
      }
    }
    .nav__link {
      visibility: inherit;
      color: #fff;
      opacity: 1;
    }
  }

  &__hamburger {
    position: fixed;
    top: 30px;
    right: 20px;
    text-indent: 99999px;
    white-space: nowrap;
    border: none;
    background: linear-gradient(rgba(#fff,0) 44%, #fff 44%, #fff 56%, rgba(#fff,0) 56%);
    width: 30px;
    height: 30px;
    cursor: pointer;
    outline: none !important;
    appearance: none;
    z-index: 100000;

    &:before,
    &:after {
      position: absolute;
      left: 0;
      width: 100%;
      height: 4px;
      background-color: #fff;
      transform: none;
      transition: transform .5s;
      content: "";
    }
    &:before {
      top: 2px;
    }
    &:after {
      bottom: 2px;
    }
    &:hover:before {
       top: 0;
    }
    &:hover:after {
       bottom: 0;
    }
  }
  &_open &__hamburger {
    background: none;

    &:before {
      top: 2px!important;
      transform: translateY(11px) rotate(45deg);

    }
    &:after {
      bottom: 2px!important;
      transform: translateY(-11px) rotate(-45deg);
    }
  }

  &__ul {
    margin: 0;
    padding: 0;
//    padding-left: 18px;
  }

  &__item {
    margin: 1em 0;
    padding: 0;
    list-style: none;

    &:before {
      position: absolute;
      left: -20px;
      margin-top: 5px;
      width: 12px;
      height: 12px;
      background-color: rgba($nav-color, 0);
      border: 2px solid rgba($nav-color, .5);
      border-radius: 50%;
      box-sizing: border-box;
      content: "";
      opacity: 1;
      transition: all .5s;
    }

    &.active {
      &:before {
        background-color: rgba($nav-color, .65);
        border-color: rgba($nav-color, 0);
      }
    }
  }

  &__link {
    color: rgba(#000, .85);
    text-decoration: none;
    white-space: nowrap;
    opacity: 0;
  }

  &__menu__open &__ul {
    margin: 0;
    padding: 0;
  }

  &__menu_open &__item {
    margin: 0;
    padding: 0;
    text-align: center;
    line-height: 20vh;
    font-size: 5vmax;
    height: 20vh;
  }
}
