@font-face {
    font-family: 'Questa';
    src: url('fonts/questa_regular_macroman/2-Questa_Regular-webfont.eot');
    src: url('fonts/questa_regular_macroman/2-Questa_Regular-webfont.eot?#iefix') format('embedded-opentype'),
         url('fonts/questa_regular_macroman/2-Questa_Regular-webfont.woff2') format('woff2'),
         url('fonts/questa_regular_macroman/2-Questa_Regular-webfont.woff') format('woff'),
         url('fonts/questa_regular_macroman/2-Questa_Regular-webfont.ttf') format('truetype'),
         url('fonts/questa_regular_macroman/2-Questa_Regular-webfont.svg#questaregular') format('svg');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'Questa Sans';
    src: url('fonts/questasans_regular_macroman/2-Questa_Sans_Regular-webfont.eot');
    src: url('fonts/questasans_regular_macroman/2-Questa_Sans_Regular-webfont.eot?#iefix') format('embedded-opentype'),
         url('fonts/questasans_regular_macroman/2-Questa_Sans_Regular-webfont.woff2') format('woff2'),
         url('fonts/questasans_regular_macroman/2-Questa_Sans_Regular-webfont.woff') format('woff'),
         url('fonts/questasans_regular_macroman/2-Questa_Sans_Regular-webfont.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

// @font-face {
//     font-family: 'Aller';
//     src: url('fonts/aller/aller_rg-webfont.eot');
//     src: url('fonts/aller/aller_rg-webfont.eot?#iefix') format('embedded-opentype'),
//          url('fonts/aller/aller_rg-webfont.woff2') format('woff2'),
//          url('fonts/aller/aller_rg-webfont.woff') format('woff'),
//          url('fonts/aller/aller_rg-webfont.ttf') format('truetype');
//     font-weight: normal;
//     font-style: normal;
// }
// @font-face {
//     font-family: 'Aller';
//     src: url('fonts/aller/aller_it-webfont.eot');
//     src: url('fonts/aller/aller_it-webfont.eot?#iefix') format('embedded-opentype'),
//          url('fonts/aller/aller_it-webfont.woff2') format('woff2'),
//          url('fonts/aller/aller_it-webfont.woff') format('woff'),
//          url('fonts/aller/aller_it-webfont.ttf') format('truetype');
//     font-weight: normal;
//     font-style: italic;
// }
// @font-face {
//     font-family: 'Aller';
//     src: url('fonts/aller/aller_lt-webfont.eot');
//     src: url('fonts/aller/aller_lt-webfont.eot?#iefix') format('embedded-opentype'),
//          url('fonts/aller/aller_lt-webfont.woff2') format('woff2'),
//          url('fonts/aller/aller_lt-webfont.woff') format('woff'),
//          url('fonts/aller/aller_lt-webfont.ttf') format('truetype');
//     font-weight: 100;
//     font-style: normal;
// }
// @font-face {
//     font-family: 'Aller';
//     src: url('fonts/aller/aller_ltit-webfont.eot');
//     src: url('fonts/aller/aller_ltit-webfont.eot?#iefix') format('embedded-opentype'),
//          url('fonts/aller/aller_ltit-webfont.woff2') format('woff2'),
//          url('fonts/aller/aller_ltit-webfont.woff') format('woff'),
//          url('fonts/aller/aller_ltit-webfont.ttf') format('truetype');
//     font-weight: 100;
//     font-style: italic;
// }
// @font-face {
//     font-family: 'Aller';
//     src: url('fonts/aller/aller_bd-webfont.eot');
//     src: url('fonts/aller/aller_bd-webfont.eot?#iefix') format('embedded-opentype'),
//          url('fonts/aller/aller_bd-webfont.woff2') format('woff2'),
//          url('fonts/aller/aller_bd-webfont.woff') format('woff'),
//          url('fonts/aller/aller_bd-webfont.ttf') format('truetype');
//     font-weight: bold;
//     font-style: normal;
// }
// @font-face {
//     font-family: 'Aller';
//     src: url('fonts/aller/aller_bdit-webfont.eot');
//     src: url('fonts/aller/aller_bdit-webfont.eot?#iefix') format('embedded-opentype'),
//          url('fonts/aller/aller_bdit-webfont.woff2') format('woff2'),
//          url('fonts/aller/aller_bdit-webfont.woff') format('woff'),
//          url('fonts/aller/aller_bdit-webfont.ttf') format('truetype');
//     font-weight: bold;
//     font-style: italic;
// }
