#about {
  $sectionColor: map-get($sections, about);
  @include sectionBg($sectionColor);

  dt, dd {
    margin: 0 0 1em 0;
    padding: 0;
  }
  dt {
    float: left;
    clear: left;
    font-family: $fontFamilySec;
    font-size: 9pt;
    font-weight: bold;
    line-height: 20px;
    color: darken($sectionColor, 25%);
    width: 80px;
    white-space: nowrap;
  }
  dd {
    padding-left: 80px;
  }
}
