.contact {
  $sectionColor: map-get($sections, contact);
  $sectionTextColor: darken($sectionColor, 30%);
  $sectionTextColorActive: darken($sectionColor, 50%);
  @include sectionBg(map-get($sections, contact));

  min-height: calc(100vh - 30px);
  margin-bottom: 0 !important;
  padding-bottom: 0 !important;

  &__phone {
    font-size: 130%;
  }
  &__email {
    font-size: 85%;
  }
  a[href] {
    color: $sectionTextColor;
    text-decoration: none;
    border-bottom: 1px solid rgba($sectionTextColor, .35);

    &:hover,
    &:active {
      color: $sectionTextColorActive;
    }
  }
}
