
#contact {
  @include sectionBg(map-get($sections, contact));

  height: 100vh;
}
.contact {
  $sectionColor: map-get($sections, contact);
  $sectionTextColor: darken($sectionColor, 30%);
  $sectionTextColorActive: darken($sectionColor, 50%);
  &__phone {
    font-size: 130%;
  }
  &__email {
    font-size: 85%;
  }
  a[href] {
    color: $sectionTextColor;
    text-decoration: none;
    border-bottom: 1px solid rgba($sectionTextColor, .35);

    &:hover,
    &:active {
      color: $sectionTextColorActive;
    }
  }
}
