.footer {
  position: fixed;
  bottom: 0;
  font-family: $fontFamilySec;
  font-weight: 100;
  font-style: italic;
  font-size: 11px;
  text-align: center;
  background: rgba(#000, 0.1);
  width: 100%;
  transform: translateZ(0);

  &__copy {
    float: left;
  }
  &__producer {
    float: right;
  }
}