#home {
  height: 40vh;
}

.tagline {
  position: fixed;
  top: 0;
  margin: 0 70px;
  padding-top: 0;
  //padding-bottom: 20vh;
  //font-size: 18px;
  font-size: 3.5vmax;
  text-align: center;
  text-shadow: 0 1px 0 rgba(#000, .5);
  color: #fff;
  height: 100%;
  z-index: 1;

  &.skrollable-after {
    visibility: hidden;
  }
}
