.logo {
  position: fixed;
  top: 0;
  margin: 0;
  padding: 0px;
  background: rgba(#fff, 0);
  width: 100%;
  z-index: 100;
  transform: translateZ(0);

  &__text {
    transition: opacity .25s;
  }

  &__link {
    position: relative;
    display: inline-block;
    padding: 10px;
    padding-left: 90px;
    color: $textColorMain;
    text-decoration: none;
    background-color: transparent;
    //background-color: #fff;
    width: 180px;
    transition: background .25s;

    //&:hover {
    //  background-color: #fff;
    //
    //  .logo__text {
    //    opacity: 1 !important;
    //  }
    //}

    &:before {
      position: absolute;
      left: 15px;
      width: 65px;
      height: 65px;
      background: url("./css/logo@2x.png");
      background-size: 65px;
      content: "";
    }
  }

  &__title {
    margin: 1em 0 0;
    font-size: 9pt;
    line-height: 10pt;
    font-family: $fontFamilySec;
    font-weight: 100;
    font-style: italic;
    opacity: .85;
  }

  &__name {
    margin: 0 0 .25em 0;
    font-size: 13pt;
    font-weight: normal;
    letter-spacing: 2px;
    text-transform: uppercase;
  }
}
