.logo {
  position: fixed;
  top: 0;
  margin: 0;
  padding: 10px 20px;
  background: rgba(#fff, 0);
  width: 100%;
  z-index: 1;
  transform: translateZ(0);

  &__link {
    position: relative;
    display: inline-block;
    padding-left: 70px;
    color: $textColorMain;
    text-decoration: none;
    width: 180px;

    &:before {
      position: absolute;
      left: 0;
      width: 65px;
      height: 65px;
      background: image-url("logo@2x.png");
      background-size: 65px;
      content: "";
    }
  }

  &__title {
    margin: 1em 0 0;
    font-size: 9pt;
    line-height: 10pt;
    font-family: $fontFamilySec;
    font-weight: 100;
    font-style: italic;
    opacity: .85;
  }

  &__name {
    margin: 0 0 .25em 0;
    font-size: 13pt;
    font-weight: normal;
    letter-spacing: 2px;
    text-transform: uppercase;
  }
}
