.prices {
  @include sectionBg(map-get($sections, prices));

  .content {
    overflow: hidden;
  }

  &__list {
    margin: 0;
    padding: 0;
    list-style: none;
  }

  &__item {
    &_last {
      margin-left: calc(30% + 20px) !important;
      padding-left: 10px;
      border-top: 1px solid rgba($textColorMain, .25);
    }
  }

  &__price {
    font-size: 85%;
    font-weight: lighter;
    font-family: $fontFamilySec;
  }
}
