#speciality {
  $bgColor: map-get($sections, speciality);
  $textColor: #fff;
  @include sectionBg($bgColor);
  margin-top: 100vh;

  h2 {
    position: relative;
    top: 0;
    margin: 0 70px;
    padding-bottom: 20vh;
    font-size: 18px;
    font-size: 3.5vmax;
    text-align: center;
    text-shadow: 0px 1px 0 rgba(#000, .5);
    color: $textColor;
  }
  a {
    padding: .125em .125em 0;
    color: inherit;
    text-decoration: none;
    border-bottom: 1px solid rgba($textColorMain, .25);

    &:hover {
      color: darken(map-get($sections, speciality), 50%);
      background-color: $textColor;
      border-radius: 4px;
      border-bottom-color: rgba($textColor, .75);
    }
  }
}

.speciality {
  .content {
    @extend .cols;
    margin-top: -100px !important;
  }
  &__nav {
    @extend .col;

    ul {
      margin: 0;
      padding: 0;
    }

      li {
        margin: .5em 0;
        padding: 0;
        list-style: none;
      }
  }
  &__item {
    @extend .col.col_2;
    position: absolute;
    border: 1px solid #000;
  }
}
