.speciality {
  $bgColor: map-get($sections, speciality);
  $textColor: #fff;
  @include sectionBg($bgColor);
  //margin-top: 100vh !important;
  z-index: auto !important;

  a {
    padding: .125em .125em 0;
    color: inherit;
    text-decoration: none;
    border-bottom: 1px solid rgba($textColorMain, .25);

    &:hover {
      color: darken(map-get($sections, speciality), 50%);
      background-color: $textColor;
      border-radius: 4px;
      border-bottom-color: rgba($textColor, .75);
    }
  }

  .content {
    //@extend .cols;
  }
  &__nav {
    //@extend .col;

    ul {
      margin: 0;
      padding: 0;
      text-align: center;
    }

      li {
        display: inline-block;
        margin: .5em .5em .5em 0;
        padding: 0;
        list-style: none;
      }
  }
  &__item {
    //@extend .col.col_2;
    //position: absolute;
    //border: 1px solid #000;
  }
}
