#speciality {
  $bgColor: map-get($sections, speciality);
  $textColor: #fff;
  @include sectionBg($bgColor);
  margin-top: 100vh;

  h2 {
    position: relative;
    top: 0;
    margin: 70px;
    font-size: 18px;
    font-size: 2.5vmax;
    text-align: center;
    color: $textColor;

    a {
      padding: .125em .125em 0;
      color: inherit;
      text-decoration: none;
      white-space: nowrap;
      border-bottom: 2px solid rgba($textColor, .25);
      
      &:hover {
        color: darken(map-get($sections, speciality), 50%);
        background-color: $textColor;
        border-radius: 4px;
        border-bottom-color: rgba($textColor, .75);
      }
    }
  }
}
