.logo {
  position: fixed;
  top: 20px;
  margin: 0;
  margin-left: 20px;
  padding: 0;
  width: 180px;

  display: inline-block;
  padding-left: 70px;
  text-decoration: none;
  color: #000;

  &:before {
    position: absolute;
    left: 0;
    width: 65px;
    height: 65px;
    background: image-url("logo/logo@2x.png");
    background-size: 65px;
    content: "";
  }

  &__title {
    margin: .5em 0 0em;
    font-size: 85%;
    line-height: 12px;
    font-family: $fontFamilySec;
  }

  &__name {
    margin: 0 0 .25em 0;
    font-size: 21pt;
    letter-spacing: -1px;
  }
}
