.logo {
  position: fixed;
  top: 20px;
  margin: 0;
  margin-left: 20px;
  padding: 0;
  width: 140px;

  display: inline-block;
  padding-left: 70px;
  text-decoration: none;
  color: #000;

  &:before {
    position: absolute;
    left: 0;
    width: 65px;
    height: 65px;
    background: image-url("logo/logo@2x.png");
    background-size: 65px;
    content: "";
  }

  &__title {
    margin: .5em 0 .25em;
    font-size: 75%;
    line-height: 11px;
  }

  &__name {
    margin: 0 0 .25em 0;
    font-size: 19pt;
    font-weight: bold;
    letter-spacing: -2px;
  }
}
