.logo {
  position: fixed;
  top: 20px;
  margin: 0;
  margin-left: 20px - 300px;
  padding: 0;
  width: 180px;

  display: inline-block;
  padding-left: 70px;
  text-decoration: none;
  color: #000;

  transform: translateZ(0);

  &:before {
    position: absolute;
    left: 0;
    width: 65px;
    height: 65px;
    background: image-url("logo/logo@2x.png");
    background-size: 65px;
    content: "";
  }

  &__title {
    margin: .5em 0 0em;
    font-size: 9pt;
    line-height: 12px;
    font-family: $fontFamilySec;
    font-weight: 100;
  }

  &__name {
    margin: 0 0 .25em 0;
    font-size: 20pt;
    font-weight: normal;
    letter-spacing: -1px;
  }
}
