@import 'fonts';

$fontFamilyMain: "Georgia", serif;
$fontFamilySec: "Aller", sans-serif;

$textColorMain: #213134;

$sections: (speciality: #86c4d1, prices: #73b683, about: #daa185, contact: #bb74b1);

@function sectionGradient($color, $alpha: 1) {
  $alpha: 1 - $alpha;
  @return linear-gradient(-45deg, transparentize(adjust_hue($color, 35deg), $alpha), transparentize($color, $alpha));
}

@mixin sectionBg($bgColor) {
  $textColor: darken($bgColor, 30%);
  $textColorActive: darken($bgColor, 40%);

  background-color: $bgColor;
  background: sectionGradient($bgColor);

  h2 {
    margin: 0;
    margin-left: 70px;
    padding-top: 98px;
    font-family: $fontFamilySec;
    font-size: 4vmax;
    font-weight: 100;
    color: $textColor;
  }
}

@import "./css/nav/nav";
@import "./css/logo/logo";
@import "./css/prices/prices";
@import "./css/about/about";
@import "./css/speciality/speciality";
@import "./css/contact/contact";
@import "./css/footer/footer";

body {
  margin: 0;
  padding: 0;
  font-family: $fontFamilyMain;
  font-size: 12pt;
  color: $textColorMain;
}

h1, h2, h3, h4 {
  font-family: $fontFamilySec;
  line-height: 1.5;
}

h1, h2 {
  font-weight: lighter;
}

.wrapper {
  margin : 0 auto;
  padding: 0 20px;
  max-width : 960px;
  box-sizing: border-box;
}

.section {
  position: relative;
  margin: 0;
  min-height: 100vh;
  transform: translateZ(0);

  .content {
    padding: 0 60px 2em 70px;
  }
}

.amp {
  font-family: Baskerville, "Goudy Old Style", "Palatino", "Book Antiqua", serif;
  font-size: 130%;
  font-style: italic;
}

#home {
  $color: map_get($sections, speciality);
  position: fixed;
  top: 0;
  width: 100%;
  height: 100vh;
  background: image-url('home/home_bg.jpg') 25% 25% no-repeat;
  background-size: cover;
//  background-blend-mode: screen;
}
