@import 'fonts';

$fontFamilyMain: "Georgia", serif;
$fontFamilySec: "Aller", sans-serif;

$pricesSectionBg: #72b673;
$aboutSectionBg: #e1b92b;
$specialitySectionBg: #aacadf;
$contactSectionBg: #8b8671;

// @import "./css/parallax/parallax";
@import "./css/nav/nav";
@import "./css/logo/logo";
@import "./css/prices/prices";
@import "./css/about/about";
@import "./css/speciality/speciality";
@import "./css/contact/contact";

body {
  margin: 0;
  padding: 0;
  font-family: $fontFamilyMain;
  font-size: 12pt;
}

h1, h2, h3, h4 {
  font-family: $fontFamilySec;
}

h1, h2 {
  font-weight: lighter;
}

// manage container width :
.wrapper {
  max-width : 960px;
  margin : 0 auto;
  box-sizing: border-box;
}

section {
  margin: 0;
  // padding: 1em;
  // font-family: $fontFamilySec;
  // height: 18vh;
  // max-height: 800px;

  .wrapper {
    padding: 1em;
    padding-left: 300px;
  }

  h2 {
    position: sticky;
    top: 30px;
    font-size: 3em;
  }
}

#home {
  height: 90vh;
  background: image-url('home/photo.jpg') 50% 50% no-repeat;
  background-size: cover;

  // .wrapper {
  //   height: 100%;
  // }
}
#speciality {
  background-color: $specialitySectionBg;
}
#contact {
  background-color: $contactSectionBg;
  // height: 100vh;
}

.tagline {
  position: absolute;
  top: calc(50vh - 250px);
  top: 250px;
  // left: 0;
  margin-left: 90px - 300px;
  font-size: calc(3vh);
  width: calc(35% - 90px);
  min-width: 10em;
}

// .content {
//   max-width: 720px;
// }
