@import 'fonts';

@import 'css/vars';
@import "css/nav";
@import "css/logo";
@import "css/prices";
@import "css/about";
@import "css/speciality";
@import "css/contact";
@import "css/footer";

// IE needs this
article,aside,details,figcaption,figure,
footer,header,hgroup,menu,nav,section {
  display: block;
}

body {
  margin: 0;
  padding: 0;
  font: 12pt/1.5 $fontFamilyMain;
  color: $textColorMain;
}

h1, h2, h3, h4 {
  font-family: $fontFamilySec;
  line-height: 1.5;
}

h1, h2 {
  font-weight: lighter;
}

.wrapper {
  margin : 0 auto;
  padding: 0 20px;
  max-width : 960px;
  box-sizing: border-box;
}

.section {
  position: relative;
  margin: 0;
  min-height: 100vh;
  transform: translateZ(0);

  .content {
    padding: 0 60px 2em 70px;
  }
}

.amp {
  font-family: Baskerville, "Goudy Old Style", "Palatino", "Book Antiqua", serif;
  font-size: 130%;
  font-style: italic;
}

#home {
  $color: map_get($sections, speciality);
  position: fixed;
  top: 0;
  width: 100%;
  height: 100vh;
  background: url('./css/home_bg.jpg') 25% 25% no-repeat;
  background-size: cover;
}
