@import 'fonts';

$fontFamilyMain: "Georgia", serif;
$fontFamilySec: "Aller", sans-serif;

$textColorMain: #213134;
$specialitySectionBg: #94d2df;
$pricesSectionBg: #73b683;
$aboutSectionBg: #ffa480;
$contactSectionBg: #b88cdf;

@mixin sectionBg($bgColor) {
  $textColor: darken($bgColor, 30%);
  $textColorActive: darken($bgColor, 40%);

  background-color: $bgColor;
  background: linear-gradient(-45deg, transparentize(adjust_hue($bgColor, 35deg), 0.0), transparentize($bgColor, 0));

  h2 {
    $tc: darken($bgColor, 30%);
    font-family: $fontFamilySec;
    font-size: 5vmax;
    font-weight: 100;
    text-align: center;
    color: $tc;
    background: linear-gradient(45deg, #2d463c, #537c88, #a58666, #6b0637);
    background-size: 1024px;
    -webkit-background-clip: text;
    -webkit-text-fill-color: rgba($tc, .5);

    a {
      display: inline-block;
      color: $textColor;
      text-decoration: none;
      border-bottom: 1px solid rgba($textColor, .25);
      height: 1.15em;

      &:hover {
        color: $textColorActive;
        border-bottom-color: rgba($textColorActive, .5);
      }
    }
  }
}

@import "./css/nav/nav";
@import "./css/logo/logo";
@import "./css/prices/prices";
@import "./css/about/about";
@import "./css/speciality/speciality";
@import "./css/contact/contact";
@import "./css/footer/footer";

body {
  margin: 0;
  padding: 0;
  font-family: $fontFamilyMain;
  font-size: 12pt;
  color: $textColorMain;
}

h1, h2, h3, h4 {
  font-family: $fontFamilySec;
}

h1, h2 {
  font-weight: lighter;
}

.wrapper {
  margin : 0 auto;
  padding: 0 20px;
  max-width : 960px;
  box-sizing: border-box;
}

section {
  position: relative;
  margin: 0;
  overflow: hidden;
  min-height: 100vh;
  transform: translateZ(0);

  .content {
    margin-top: 70px;
    padding: 0 60px 2em 70px;
  }
}

#home {
  position: fixed;
  top: 0;
  width: 100%;
  height: 100vh;
  background: image-url('home/photo.jpg') 25% 25% no-repeat;
  background-size: cover;
}

#speciality {
//  top: 60vh;
  font-size: 3vmax;
  line-height: 1.3;
  margin-top: calc(100vh - 8em);
}
