@font-face {
    font-family: 'questa';
    src: url('fonts/questa_regular_macroman/2-Questa_Regular-webfont.eot');
    src: url('fonts/questa_regular_macroman/2-Questa_Regular-webfont.eot?#iefix') format('embedded-opentype'),
         url('fonts/questa_regular_macroman/2-Questa_Regular-webfont.woff2') format('woff2'),
         url('fonts/questa_regular_macroman/2-Questa_Regular-webfont.woff') format('woff'),
         url('fonts/questa_regular_macroman/2-Questa_Regular-webfont.ttf') format('truetype'),
         url('fonts/questa_regular_macroman/2-Questa_Regular-webfont.svg#questaregular') format('svg');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'questa_sans';
    src: url('fonts/questasans_regular_macroman/2-Questa_Sans_Regular-webfont.eot');
    src: url('fonts/questasans_regular_macroman/2-Questa_Sans_Regular-webfont.eot?#iefix') format('embedded-opentype'),
         url('fonts/questasans_regular_macroman/2-Questa_Sans_Regular-webfont.woff2') format('woff2'),
         url('fonts/questasans_regular_macroman/2-Questa_Sans_Regular-webfont.woff') format('woff'),
         url('fonts/questasans_regular_macroman/2-Questa_Sans_Regular-webfont.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

body {
  margin: 0;
  padding: 0;
  font-family: questa_sans, sans-serif;
}

h1, h2, h3, h4 {
  font-family: questa, sans-serif;
}

@import "./css/nav/nav";
@import "./css/logo/logo";

section {
  margin: 0;
  padding: 1em;
  padding-left: 260px;
  font-family: questa, serif;
  height: 90vh;

  h2 {
    position: sticky;
    top: 30px;
    font-size: 3em;
  }
}

#home {
  background: #bbdbe0 image-url('home/photo.jpg') no-repeat;
  background-size: cover;
  height: 100vh;
}
#speciality {
  background-color: #bbdbe0;
}
#prices {
  background-color: #b4cd79;
}
#about {
  background-color: #e1b92b;
}
#contact {
  background-color: #373b44;
  height: 100vh;
}

.tagline {
  position: absolute;
  top: 20vh;
  margin-left: 90px;
  font-size: calc(3vh);
  width: calc(35% - 90px);
  min-width: 10em;
  border: 1px solid #000;
}
