@import 'fonts';
@import "./css/nav/nav";
@import "./css/logo/logo";


body {
  margin: 0;
  padding: 0;
  font-family: "Questa Sans", sans-serif;
}

h1, h2, h3, h4 {
  font-family: "Questa", sans-serif;
}

section {
  margin: 0;
  padding: 1em;
  padding-left: 260px;
  font-family: questa, serif;
  height: 90vh;

  h2 {
    position: sticky;
    top: 30px;
    font-size: 3em;
  }
}

#home {
  background: #bbdbe0 image-url('home/photo.jpg') no-repeat;
  background-size: cover;
  height: 100vh;
}
#speciality {
  background-color: #bbdbe0;
}
#prices {
  background-color: #b4cd79;
}
#about {
  background-color: #e1b92b;
}
#contact {
  background-color: #373b44;
  height: 100vh;
}

.tagline {
  position: absolute;
  top: calc(50vh - 250px);
  margin-left: 90px;
  font-size: calc(3vh);
  width: calc(35% - 90px);
  min-width: 10em;
}
